      <!-- CAPILLA -->
      <a-nft
        type="nft"
        url="{{url}}"
        smooth="true"
        smoothCount="10"
        smoothTolerance=".01"
        smoothThreshold="5"
        markerhandler
        id="{{ placeID }}-{{subPlaceID}}"
      >
        <!-- as a child of the a-nft entity, you can define the content to show. here's a GLTF model entity -->
        <a-entity
          gltf-model="assets/models/Astronaut.gltf"
          scale="100 100 100"
          position="0 0 0"
          rotation="-35 25 -35"
        ></a-entity>
      </a-nft>
