<div
  [style.top]="
    onLandscape
      ? zone.landscapeValues.topValue + '%'
      : zone.portraitValues.topValue + '%'
  "
  [style.left]="
    onLandscape
      ? zone.landscapeValues.leftValue + '%'
      : zone.portraitValues.leftValue + '%'
  "
  [style.right]="
    onLandscape
    ? zone.landscapeValues.rightValue + '%'
    : zone.portraitValues.rightValue + '%'
  "
  class="waypoint"
>
  <a (click)="changeStatus()">
    <img
      *ngIf="!isActive"
      src="assets/img/map/redMapPoint.png"
      class="marker-icon"
      [style.float]="zone.textAlignRight ? '' : 'right'"
    />
    <img
      *ngIf="isActive"
      class="marker-icon"
      src="assets/img/map/blueMapPoint.png"
      [style.float]="zone.textAlignRight ? '' : 'right'"
    />

    <b
      class="marker-text"
      [style.color]="isActive ? '#1d00b1' : '#c20000'"
      [style.float]="!zone.textAlignRight ? 'right' : 'left'"
      >{{ zone.name.toUpperCase() }}</b
    >
  </a>
</div>
