<div
  [style.top]="
    onLandscape
      ? zone.landscapeValues.topValue + '%'
      : zone.portraitValues.topValue + '%'
  "
  [style.left]="
    onLandscape
      ? zone.landscapeValues.leftValue + '%'
      : zone.portraitValues.leftValue + '%'
  "
  [style.right]="
    onLandscape
    ? zone.landscapeValues.rightValue + '%'
    : zone.portraitValues.rightValue + '%'
  "
  [style.bottom]="
    onLandscape
    ? zone.landscapeValues.bottomValue + '%'
    : zone.portraitValues.bottomValue + '%'
  "
  class="waypoint"
  [style.display]="zone.name != 'Bienvenido' ? 'block' : 'none'"
>
  <a style="position: absolute;" (click)="changeStatus()">
    <img
      *ngIf="!isActive"
      src="assets/img/map/redMapPoint.png"
      class="marker-icon"
      [style.float]="zone.textAlignRight ? '' : 'right'"
    />
    <img
      *ngIf="isActive"
      class="marker-icon"
      src="assets/img/map/blueMapPoint.png"
      [style.float]="zone.textAlignRight ? '' : 'right'"
    />
  </a>
  <b
  class="marker-text"
  [style.color]="isActive ? '#1d00b1' : '#c20000'"
  [style.float]="!zone.textAlignRight ? 'right' : 'left'"
  [style.margin-left]="zone.textAlignRight ? '15%' : null"
  [style.margin-right]="!zone.textAlignRight ? '15%' : null"
  >{{ zone.name.toUpperCase() }}</b>
</div>
