<nav class="navbar navbar-light nav-header">
  <img
    class="navbar-brand mb-0 sofia frameElement"
    src="/assets/img/sofia.png"
  />
  <p class="headerText frameElement">El diario-guía de <b>Villa Soriano</b></p>
</nav>
<nav class="navbar navbar-expand nav-header-buttons">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link nav-header-buttons-text" href="#">INICIO</a>
    </li>
    <li class="nav-item">
      <a class="nav-link nav-header-buttons-text" href="#">LOS LUGARES</a>
    </li>
    <li class="nav-item">
      <a class="nav-link nav-header-buttons-text" href="#">MAPA</a>
    </li>
    <li class="nav-item nav-header-buttons-active">
      <a class="nav-link nav-header-buttons-text-active" href="#">{{
        lugarActivo
      }}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link nav-header-buttons-text" href="#">INFO</a>
    </li>
  </ul>
</nav>
<div class="wrapper">
  <!-- UI -->

  <!--
  <div class="headerTextWrapper">
    <p class="headerText frameElement">
      El diario-guía de <b>Villa Soriano</b>
    </p>
  </div>
  <img src="/assets/img/sofia.png" class="sofia frameElement" />
  <img src="/assets/img/map.png" class="mapIcon frameElement" />

  <img src="/assets/img/canvas.png" class="frame" />
  <app-scan></app-scan>
  -->
</div>
