<body [class.modal-open]="isPopupOpened">
<div class="orientation-wrapper" id="inicio">
  <nav class="navbar navbar-expand nav-header" (click)="onGoBackInit()" style="height: '100px'">
    <img
      class="navbar-brand mb-0 sofia frameElement"
      src="/assets/img/iconosSofia/2.png"
    />
    <p *ngIf="false" class="headerText frameElement">
      <span> El diario-guía de </span><br /><b>Villa Soriano</b>
    </p>
    <p
      style="width: max-content;position: absolute;height: inherit;margin: 30%;margin-top: 37%;"
      class="headerText frameElement"
    >
      <span style="font-family: 'Great Vibes', cursive;font-size: 2.5em;"
        >Diario de Sofía</span
      >
    </p>
  </nav>
  <nav class="navbar navbar-expand nav-header-buttons">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link nav-header-buttons-text" href="#inicio">INICIO</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-header-buttons-text" href="#lugares"
          >LUGARES</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link nav-header-buttons-text" href="#mapa">MAPA</a>
      </li>
      <li
        class="nav-item nav-header-buttons-active"
        *ngIf="enableScanningMode || hasZoneActive"
      >
        <a
          [style.font-size]="activeZone.name.length > 10 ? '55%' : '90%'"
          class="nav-link nav-header-buttons-text-active"
          href="#"
          >{{ activeZone.name }}</a
        >
      </li>
      <li class="nav-item" *ngIf="false">
        <a class="nav-link nav-header-buttons-text" href="#logos">INFO</a>
      </li>
    </ul>
  </nav>

  <iframe
    *ngIf="!isLoadedLocally && !enableScann"
    width="560"
    height="315"
    [src]="activeVideoURL"
    frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
    class="media-video"
  ></iframe>

  <video
    *ngIf="isLoadedLocally && !enableScann"
    [src]="activeVideoURL"
    class="media-video"
    preload="metadata"
    controls
    muted
    (error)="onVideoError($event)"
  >
    <source type="video/mp4" />
    Your browser does not support the video tag.
  </video>

  <app-scan (onScannResult)="scanResult($event)" *ngIf="enableScann"></app-scan>

  <!--
  <app-scan
    (onScannResult)="scanResult($event)"
    *ngIf="enableScanningMode && enableScanner"
  ></app-scan>
  -->
  <!-- INFO TEXT AND SCAN BUTTON WITH INFO TEXT-->
  <section>
    <!-- MAIN TEXT -->
    <div class="infoText" [innerHTML]="description"></div>
    <div style="width: 100%" *ngIf="enableScanningMode">
      <div style="padding-left: 20%">
        <a
          style="padding-left: 25%"
          (click)="enableScan()"
          *ngIf="enableScanningMode"
        >
          <img style="width: 20%" src="/assets/img/recordButton.png" />
        </a>
        <p
          style="
            background-color: red;
            color: white;
            text-align: center;
            width: 69%;
            font-size: small;
            margin-top: 5%;
          "
        >
          {{ scannerActiveText }}
        </p>
      </div>
    </div>
  </section>
  <section id="lugares">
    <div class="row" style="margin-right: -18px; margin-left: 2px">
      <ng-container *ngFor="let zone of zones">
        <app-coin
          [zone]="zone"
          [style.display]="zone.id == 1 ? 'none' : 'block'"
        ></app-coin>
      </ng-container>
    </div>
  </section>
  <section
    id="mapa"
    style="
      width: 100%;
      padding-top: 5%;
      background-position-x: center;
      background-position-y: 27px;
      background-size: cover;
      background-image: url(/assets/img/map/mapa.png);
      background-repeat: no-repeat;
    "
  >
    <div class="map-container">
      <div class="marker-container">
        <ng-container *ngFor="let zone of zones">
          <app-map-container [zone]="zone"></app-map-container>
        </ng-container>
      </div>
    </div>
  </section>
  <section id="logos" style="background-color: white; height: 11%">
    <div class="my-slider">
      <img src="/assets/img/institucional/intendencia.png" />
      <img src="/assets/img/institucional/pajaros.png" />
      <img src="/assets/img/institucional/uyNatural.png" />
      <img src="/assets/img/institucional/bid.png" />
    </div>
    <div class="d-flex justify-content-center" style="background-color: white;">
      <a (click)="onOpenPopup(footerPopupTypes.LEGALES)">Información Legal</a>
      <a (click)="onOpenPopup(footerPopupTypes.CREDITOS)" class="legal-a-buttons">Créditos</a>

    </div>
  </section>

</div>
<app-popup></app-popup>
</body>
