.wrapper {
  width: 100%;
}
.nav-header {
  background-color: #358da7;
  height: 65px;
}
.nav-header-buttons {
  background-color: #121c5d;
  height: 34px;
}
.nav-header-buttons-active {
  background-color: #c11616;
  height: 34px;
}
.nav-header-buttons-text-active {
  color: white;
  font-size: 90%;
}
.nav-header-buttons-text {
  color: white;
  font-size: 77%;
}

.frameElement {
  z-index: 2;
  position: absolute;
}
.sofia {
  width: 15%;
}
.mapIcon {
  width: 27%;
  margin-left: 57.3%;
}
.headerText {
  font-size: 1em;
  margin-left: 19%;
  color: white;
}

/*MEDIA*/
.media-video {
  width: 100%;
}
/* SECTIONS */
section {
  background-color: #2a9688;
  margin-top: -5%;
}

/* TEXT */
.infoText {
  padding: 15% 5% 10% 5%;
}

.multimedia-buttons {
  float: right;
  height: 35px;
  margin-right: -5px;
}
.multimedia-buttons-item {
  background-color: #c11616;
}
.multimedia-buttons-text {
  color: white;
}

/* CARD ITEMS */
.card-items {
  width: 30%;
  padding-right: 0;
}
.card-items-body {
  padding: 0;
}
.card-items-body-text {
  text-align: center;
  color: red;
}
.card-item-card {
  background-color: transparent;
  border: none;
}
