<nav class="navbar navbar-light nav-header">
  <img
    class="navbar-brand mb-0 sofia frameElement"
    src="/assets/img/sofia.png"
  />
  <p class="headerText frameElement">El diario-guía de <b>Villa Soriano</b></p>
</nav>
<nav class="navbar navbar-expand nav-header-buttons">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link nav-header-buttons-text" href="#">INICIO</a>
    </li>
    <li class="nav-item">
      <a class="nav-link nav-header-buttons-text" href="#">LOS LUGARES</a>
    </li>
    <li class="nav-item">
      <a class="nav-link nav-header-buttons-text" href="#">MAPA</a>
    </li>
    <li class="nav-item nav-header-buttons-active">
      <a class="nav-link nav-header-buttons-text-active" href="#">{{
        lugarActivo
      }}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link nav-header-buttons-text" href="#">INFO</a>
    </li>
  </ul>
</nav>
<video class="media-video" controls muted>
  <source src="/assets/videos/test.mp4" type="video/mp4" />
  Your browser does not support the video tag.
</video>
<!-- INFO TEXT AND SCAN BUTTON WITH INFO TEXT-->
<section class="section-1">
  <ul class="list-group list-group-horizontal multimedia-buttons" *ngIf="false">
    <li class="nav-link list-group-item multimedia-buttons-item">
      <a class="multimedia-buttons-text" href="#">ALBUM</a>
    </li>
    <li class="nav-link list-group-item multimedia-buttons-item">
      <a class="multimedia-buttons-text" href="#">360</a>
    </li>
    <li class="nav-link list-group-item multimedia-buttons-item">
      <a class="multimedia-buttons-text" href="#">DESCARGAS</a>
    </li>
  </ul>
  <!-- MAIN TEXT -->
  <p class="infoText">
    Bienvenido. Durante este recorrido autoguiado vas a pasear por la historia
    de Villa Soriano. Será un viaje sin tiempo, que te permitirá pasar de un
    siglo a otro con tan solo unas cuadras de diferencia. Podrás adentrarte en
    los recovecos de una de las primeras poblaciones del Uruguay y disfrutar de
    un atardecer colonial en un muelle renovado. Notarás que se mezclará la
    historia nacional con la de sus pobladores y que eso lo convertirá en un
    paseo único. Ejemplo de esto podrá ser la historia de Don Paco: descendiente
    de uno de los Treinta y Tres Orientales e hijo de un artista plástico cuya
    casa está repleta de máscaras expresivas y coloridas. Uno de los destinos
    estará contextualizado en el pasado revolucionario, será el predio donde
    vivían José Gervasio Artigas e Isabel Sánchez. Comenzarás la historia
    conociendo a aquel Artigas joven y padre de familia, y llegarás hasta el día
    de hoy, donde conocerás a la tátaranieta de ambos. Podrás rememorar una
    costumbre religiosa y conocer hasta el más mínimo detalle de una capilla
    singular. Escuchar la historia de la vida de los vecinos através de un Timbó
    solemne, o conocer la personalidad de una artista anticipada para la época.
    Adentrarte en una cocina antigua, escuchar las leyendas del pueblo,sentir el
    sonido de las aves, reconstruir el pasado y volver al presente, caminar,
    investigar,charlar y disfrutar.
  </p>
</section>
<section>
  <app-coin [iconRoute]="'url(/assets/img/places/mascaras.png)'"></app-coin>
</section>
<div class="wrapper">
  <!-- UI -->

  <!--
  <div class="headerTextWrapper">
    <p class="headerText frameElement">
      El diario-guía de <b>Villa Soriano</b>
    </p>
  </div>
  <img src="/assets/img/sofia.png" class="sofia frameElement" />
  <img src="/assets/img/map.png" class="mapIcon frameElement" />

  <img src="/assets/img/canvas.png" class="frame" />
  <app-scan></app-scan>
  -->
</div>
