<div class="wrapper">
  <div class="headerTextWrapper">
    <p class="headerText frameElement">
      El diario-guía de <b>Villa Soriano</b>
    </p>
  </div>
  <img src="/assets/img/sofia.png" class="sofia frameElement" />
  <img src="/assets/img/map.png" class="map frameElement" />

  <img src="/assets/img/canvas.png" class="frame" />
  <div class="embed-responsive embed-responsive-16by9">
    <zxing-scanner
      #scanner
      (scanSuccess)="scanSuccessHandler($event)"
    ></zxing-scanner>
  </div>
</div>
