<div class="escena">
  <button class="btn btn-primary topLeftButton" (click)="goBack()">
    Atras
  </button>

  <!-- minimal loader shown until image descriptors are loaded -->
  <div class="arjs-loader">
    <div>Cargando escaner...</div>
  </div>
  <!-- a-frame scene -->
  <a-scene
    embedded
    arjs="sourceType: webcam; debugUIEnabled: false; detectionMode: mono_and_matrix; matrixCodeType: 3x3;"
    vr-mode-ui="enabled: false;"
    renderer="logarithmicDepthBuffer: true;"
    embedded
  >
    <!-- a-nft is the anchor that defines an Image Tracking entity -->
    <!-- on 'url' use the path to the Image Descriptors created before. -->
    <!-- the path should end with the name without the extension e.g. if file is 'pinball.fset' the path should end with 'pinball' -->

    <!--FLUVIAL-->
    <a-nft
      type="nft"
      url="assets/trackingImages/2/2/2"
      smooth="true"
      smoothCount="10"
      smoothTolerance=".01"
      smoothThreshold="5"
      markerhandler2-2
      id="2-2"
    >
      <a-entity></a-entity>
    </a-nft>
    <a-nft
      type="nft"
      url="assets/trackingImages/2/3/3"
      smooth="true"
      smoothCount="10"
      smoothTolerance=".01"
      smoothThreshold="5"
      markerhandler2-3
      id="2-3"
    >
      <a-entity></a-entity>
    </a-nft>
    <!--MUELLE-->
    <a-nft
      type="nft"
      url="assets/trackingImages/3/2/2"
      smooth="true"
      smoothCount="10"
      smoothTolerance=".01"
      smoothThreshold="5"
      markerhandler3-2
      id="3-2"
    >
      <a-entity></a-entity>
    </a-nft>
    <a-nft
      type="nft"
      url="assets/trackingImages/3/3/3"
      smooth="true"
      smoothCount="10"
      smoothTolerance=".01"
      smoothThreshold="5"
      markerhandler3-3
      id="3-3"
    >
      <a-entity></a-entity>
    </a-nft>
    <!--TIMBO-->
    <a-nft
      type="nft"
      url="assets/trackingImages/4/2/2"
      smooth="true"
      smoothCount="10"
      smoothTolerance=".01"
      smoothThreshold="5"
      markerhandler4-2
      id="4-2"
    >
      <a-entity></a-entity>
    </a-nft>
    <!--SOLAR-->
    <a-nft
      type="nft"
      url="assets/trackingImages/7/2/2"
      smooth="true"
      smoothCount="10"
      smoothTolerance=".01"
      smoothThreshold="5"
      markerhandler7-2
      id="7-2"
    >
      <a-entity></a-entity>
    </a-nft>
    <!--MAESO-->
    <a-nft
      type="nft"
      url="assets/trackingImages/8/2/2"
      smooth="true"
      smoothCount="10"
      smoothTolerance=".01"
      smoothThreshold="5"
      markerhandler8-2
      id="8-2"
    >
      <a-entity></a-entity>
    </a-nft>
    <a-nft
      type="nft"
      url="assets/trackingImages/8/3/3"
      smooth="true"
      smoothCount="10"
      smoothTolerance=".01"
      smoothThreshold="5"
      markerhandler8-3
      id="8-3"
    >
      <a-entity></a-entity>
    </a-nft>
    <!--CAPILLA-->
    <a-nft
      type="nft"
      url="assets/trackingImages/9/2/2"
      smooth="true"
      smoothCount="10"
      smoothTolerance=".01"
      smoothThreshold="5"
      markerhandler9-2
      id="9-2"
    >
      <a-entity></a-entity>
    </a-nft>
    <a-nft
      type="nft"
      url="assets/trackingImages/9/3/3"
      smooth="true"
      smoothCount="10"
      smoothTolerance=".01"
      smoothThreshold="5"
      markerhandler9-3
      id="9-3"
    >
      <a-entity></a-entity>
    </a-nft>
    <a-nft
      type="nft"
      url="assets/trackingImages/9/4/4"
      smooth="true"
      smoothCount="10"
      smoothTolerance=".01"
      smoothThreshold="5"
      markerhandler9-4
      id="9-4"
    >
      <a-entity></a-entity>
    </a-nft>
    <a-nft
      type="nft"
      url="assets/trackingImages/9/5/5"
      smooth="true"
      smoothCount="10"
      smoothTolerance=".01"
      smoothThreshold="5"
      markerhandler9-5
      id="9-5"
    >
      <a-entity></a-entity>
    </a-nft>
    <a-nft
      type="nft"
      url="assets/trackingImages/9/6/6"
      smooth="true"
      smoothCount="10"
      smoothTolerance=".01"
      smoothThreshold="5"
      markerhandler9-6
      id="9-6"
    >
      <a-entity></a-entity>
    </a-nft>
    <!--MARFETAN-->
    <a-nft
      type="nft"
      url="assets/trackingImages/10/2/2"
      smooth="true"
      smoothCount="10"
      smoothTolerance=".01"
      smoothThreshold="5"
      markerhandler10-2
      id="10-2"
    >
      <a-entity></a-entity>
    </a-nft>
    <a-nft
      type="nft"
      url="assets/trackingImages/10/3/3"
      smooth="true"
      smoothCount="10"
      smoothTolerance=".01"
      smoothThreshold="5"
      markerhandler10-3
      id="10-3"
    >
      <a-entity></a-entity>
    </a-nft>
    <a-nft
      type="nft"
      url="assets/trackingImages/10/4/4"
      smooth="true"
      smoothCount="10"
      smoothTolerance=".01"
      smoothThreshold="5"
      markerhandler10-4
      id="10-4"
    >
      <a-entity></a-entity>
    </a-nft>
    <!-- static camera that moves according to the device movemenents -->
    <a-entity camera></a-entity>
  </a-scene>
</div>
