<p *ngIf="!onLandscape">Pon el telefono horizontalmente</p>
<ng-container *ngIf="onLandscape">
  <div class="escena">
    <button class="btn btn-primary topLeftButton" (click)="goBack()">
      Atras
    </button>
    <!-- a-frame scene -->
    <a-scene
      embedded
      arjs="sourceType: webcam; debugUIEnabled: false; detectionMode: mono_and_matrix; matrixCodeType: 3x3;"
      vr-mode-ui="enabled: false;"
      renderer="logarithmicDepthBuffer: true;"
      embedded
    >
      <!-- a-nft is the anchor that defines an Image Tracking entity -->
      <!-- on 'url' use the path to the Image Descriptors created before. -->
      <!-- the path should end with the name without the extension e.g. if file is 'pinball.fset' the path should end with 'pinball' -->

      <ng-container *ngFor="let marker of markers">
      <!-- CAPILLA -->
      <a-nft
        type="nft"
        url="{{marker.url}}"
        smooth="true"
        smoothCount="10"
        smoothTolerance=".01"
        smoothThreshold="5"
        markerhandler
        id="{{ marker.placeID }}-{{marker.subPlaceID}}"
      >
        <!-- as a child of the a-nft entity, you can define the content to show. here's a GLTF model entity -->
        <a-entity
          gltf-model="assets/models/Astronaut.gltf"
          scale="100 100 100"
          position="0 0 0"
          rotation="-35 25 -35"
        ></a-entity>
      </a-nft>

  </ng-container>
      <!-- static camera that moves according to the device movemenents -->
      <a-entity camera></a-entity>
    </a-scene>
  </div>
</ng-container>
