<div class="escena">
  <button class="btn btn-primary topLeftButton" (click)="goBack()">
    Atras
  </button>

  <!-- minimal loader shown until image descriptors are loaded -->
  <div class="arjs-loader">
    <div>Cargando escaner...</div>
  </div>
  <!-- a-frame scene -->
  <a-scene
    embedded
    arjs="sourceType: webcam; debugUIEnabled: false; detectionMode: mono_and_matrix; matrixCodeType: 3x3;"
    vr-mode-ui="enabled: false;"
    renderer="logarithmicDepthBuffer: true;"
    embedded
  >
    <!-- a-nft is the anchor that defines an Image Tracking entity -->
    <!-- on 'url' use the path to the Image Descriptors created before. -->
    <!-- the path should end with the name without the extension e.g. if file is 'pinball.fset' the path should end with 'pinball' -->

    <!--FLUVIAL-->
    <a-nft
      type="nft"
      url="assets/trackingImages/candombe/candombe"
      smooth="true"
      smoothCount="10"
      smoothTolerance=".01"
      smoothThreshold="5"
      markerhandler
      id="2-1"
    >
      <a-box position="-1 0.5 -3" rotation="0 45 0" color="#4CC3D9"></a-box>
    </a-nft>
    <a-nft
      type="nft"
      url="assets/trackingImages/2/1/1"
      smooth="true"
      smoothCount="10"
      smoothTolerance=".01"
      smoothThreshold="5"
      markerhandler
      id="2-1"
    >
      <a-box position="-1 0.5 -3" rotation="0 45 0" color="#4CC3D9"></a-box>
    </a-nft>
    <a-nft
      type="nft"
      url="assets/trackingImages/2/2/2"
      smooth="true"
      smoothCount="10"
      smoothTolerance=".01"
      smoothThreshold="5"
      markerhandler
      id="2-2"
    >
      <a-box position="-1 0.5 -3" rotation="0 45 0" color="#4CC3D9"></a-box>
    </a-nft>
    <a-nft
      type="nft"
      url="assets/trackingImages/2/3/3"
      smooth="true"
      smoothCount="10"
      smoothTolerance=".01"
      smoothThreshold="5"
      markerhandler
      id="2-3"
    >
      <a-box position="-1 0.5 -3" rotation="0 45 0" color="#4CC3D9"></a-box>
    </a-nft>
    <!--MUELLE-->
    <a-nft
      type="nft"
      url="assets/trackingImages/3/1/1"
      smooth="true"
      smoothCount="10"
      smoothTolerance=".01"
      smoothThreshold="5"
      markerhandler
      id="3-1"
    >
      <a-box position="-1 0.5 -3" rotation="0 45 0" color="#4CC3D9"></a-box>
    </a-nft>
    <a-nft
      type="nft"
      url="assets/trackingImages/3/2/2"
      smooth="true"
      smoothCount="10"
      smoothTolerance=".01"
      smoothThreshold="5"
      markerhandler
      id="3-2"
    >
      <a-box position="-1 0.5 -3" rotation="0 45 0" color="#4CC3D9"></a-box>
    </a-nft>
    <a-nft
      type="nft"
      url="assets/trackingImages/3/3/3"
      smooth="true"
      smoothCount="10"
      smoothTolerance=".01"
      smoothThreshold="5"
      markerhandler
      id="3-3"
    >
      <a-box position="-1 0.5 -3" rotation="0 45 0" color="#4CC3D9"></a-box>
    </a-nft>
    <!--TIMBO-->
    <a-nft
      type="nft"
      url="assets/trackingImages/4/1/1"
      smooth="true"
      smoothCount="10"
      smoothTolerance=".01"
      smoothThreshold="5"
      markerhandler
      id="4-1"
    >
      <a-box position="-1 0.5 -3" rotation="0 45 0" color="#4CC3D9"></a-box>
    </a-nft>
    <a-nft
      type="nft"
      url="assets/trackingImages/4/2/2"
      smooth="true"
      smoothCount="10"
      smoothTolerance=".01"
      smoothThreshold="5"
      markerhandler
      id="4-2"
    >
      <a-box position="-1 0.5 -3" rotation="0 45 0" color="#4CC3D9"></a-box>
    </a-nft>
    <!--MASCARAS-->
    <a-nft
      type="nft"
      url="assets/trackingImages/5/1/1"
      smooth="true"
      smoothCount="10"
      smoothTolerance=".01"
      smoothThreshold="5"
      markerhandler
      id="5-1"
    >
      <a-box position="-1 0.5 -3" rotation="0 45 0" color="#4CC3D9"></a-box>
    </a-nft>

    <!--SOLAR-->
    <a-nft
      type="nft"
      url="assets/trackingImages/7/1/1"
      smooth="true"
      smoothCount="10"
      smoothTolerance=".01"
      smoothThreshold="5"
      markerhandler
      id="7-1"
    >
      <a-box position="-1 0.5 -3" rotation="0 45 0" color="#4CC3D9"></a-box>
    </a-nft>
    <a-nft
      type="nft"
      url="assets/trackingImages/7/2/2"
      smooth="true"
      smoothCount="10"
      smoothTolerance=".01"
      smoothThreshold="5"
      markerhandler
      id="7-2"
    >
      <a-box position="-1 0.5 -3" rotation="0 45 0" color="#4CC3D9"></a-box>
    </a-nft>
    <!--MAESO-->
    <a-nft
      type="nft"
      url="assets/trackingImages/8/1/1"
      smooth="true"
      smoothCount="10"
      smoothTolerance=".01"
      smoothThreshold="5"
      markerhandler
      id="8-1"
    >
      <a-box position="-1 0.5 -3" rotation="0 45 0" color="#4CC3D9"></a-box>
    </a-nft>
    <a-nft
      type="nft"
      url="assets/trackingImages/8/2/2"
      smooth="true"
      smoothCount="10"
      smoothTolerance=".01"
      smoothThreshold="5"
      markerhandler
      id="8-2"
    >
      <a-box position="-1 0.5 -3" rotation="0 45 0" color="#4CC3D9"></a-box>
    </a-nft>
    <a-nft
      type="nft"
      url="assets/trackingImages/8/3/3"
      smooth="true"
      smoothCount="10"
      smoothTolerance=".01"
      smoothThreshold="5"
      markerhandler
      id="8-3"
    >
      <a-box position="-1 0.5 -3" rotation="0 45 0" color="#4CC3D9"></a-box>
    </a-nft>
    <!--CAPILLA-->
    <a-nft
      type="nft"
      url="assets/trackingImages/9/1/1"
      smooth="true"
      smoothCount="10"
      smoothTolerance=".01"
      smoothThreshold="5"
      markerhandler
      id="9-1"
    >
      <a-box position="-1 0.5 -3" rotation="0 45 0" color="#4CC3D9"></a-box>
    </a-nft>
    <a-nft
      type="nft"
      url="assets/trackingImages/9/2/2"
      smooth="true"
      smoothCount="10"
      smoothTolerance=".01"
      smoothThreshold="5"
      markerhandler
      id="9-2"
    >
      <a-box position="-1 0.5 -3" rotation="0 45 0" color="#4CC3D9"></a-box>
    </a-nft>
    <a-nft
      type="nft"
      url="assets/trackingImages/9/3/3"
      smooth="true"
      smoothCount="10"
      smoothTolerance=".01"
      smoothThreshold="5"
      markerhandler
      id="9-3"
    >
      <a-box position="-1 0.5 -3" rotation="0 45 0" color="#4CC3D9"></a-box>
    </a-nft>
    <a-nft
      type="nft"
      url="assets/trackingImages/9/4/4"
      smooth="true"
      smoothCount="10"
      smoothTolerance=".01"
      smoothThreshold="5"
      markerhandler
      id="9-4"
    >
      <a-box position="-1 0.5 -3" rotation="0 45 0" color="#4CC3D9"></a-box>
    </a-nft>
    <a-nft
      type="nft"
      url="assets/trackingImages/9/5/5"
      smooth="true"
      smoothCount="10"
      smoothTolerance=".01"
      smoothThreshold="5"
      markerhandler
      id="9-5"
    >
      <a-box position="-1 0.5 -3" rotation="0 45 0" color="#4CC3D9"></a-box>
    </a-nft>
    <a-nft
      type="nft"
      url="assets/trackingImages/9/6/6"
      smooth="true"
      smoothCount="10"
      smoothTolerance=".01"
      smoothThreshold="5"
      markerhandler
      id="9-6"
    >
      <a-box position="-1 0.5 -3" rotation="0 45 0" color="#4CC3D9"></a-box>
    </a-nft>
    <!--MARFETAN-->
    <a-nft
      type="nft"
      url="assets/trackingImages/10/1/1"
      smooth="true"
      smoothCount="10"
      smoothTolerance=".01"
      smoothThreshold="5"
      markerhandler
      id="10-1"
    >
      <a-box position="-1 0.5 -3" rotation="0 45 0" color="#4CC3D9"></a-box>
    </a-nft>
    <a-nft
      type="nft"
      url="assets/trackingImages/10/2/2"
      smooth="true"
      smoothCount="10"
      smoothTolerance=".01"
      smoothThreshold="5"
      markerhandler
      id="10-2"
    >
      <a-box position="-1 0.5 -3" rotation="0 45 0" color="#4CC3D9"></a-box>
    </a-nft>
    <a-nft
      type="nft"
      url="assets/trackingImages/10/3/3"
      smooth="true"
      smoothCount="10"
      smoothTolerance=".01"
      smoothThreshold="5"
      markerhandler
      id="10-3"
    >
      <a-box position="-1 0.5 -3" rotation="0 45 0" color="#4CC3D9"></a-box>
    </a-nft>
    <a-nft
      type="nft"
      url="assets/trackingImages/10/4/4"
      smooth="true"
      smoothCount="10"
      smoothTolerance=".01"
      smoothThreshold="5"
      markerhandler
      id="10-4"
    >
      <a-box position="-1 0.5 -3" rotation="0 45 0" color="#4CC3D9"></a-box>
    </a-nft>
    <!-- static camera that moves according to the device movemenents -->
    <a-entity camera></a-entity>
  </a-scene>
</div>
